/*
	Theme Name: Envision - Child
	Description: Child Theme
	Author: Orkun Gursel
	Template: envision
	Version: 1.1
*/
@import url("../envision/lib/css/style.css");

/** Add your custom css */

/*שינויים ראשוניים לפני עיצוב*/

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 12px;
}

.brands .ui--gallery {
    margin-bottom: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.brands .ui--gallery .ui--gallery-wrapper .ui--gallery-item {
    text-align: center;
    display: block;
    line-height: 0;
    margin-bottom: 20px;
    padding: 5%;
}

#top-bar .ui--custom-menu > li {
    float: right !important;
    margin-left: -1px;
}

#header-navigation > li.top-level-item > a {
    padding: 14px 25px 18px !important;
}

.sub-menu > li {
    text-align: right;
}

.ui--content-box-title {
    padding: 12px 5px 9px !important;
    border-bottom: 1px solid #ebebeb;
}

.ui--toggle-title {
    width: 150px;
    margin: 0 auto;
}