.clear {    clear: both }
.nobr {    white-space: nowrap }

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 1em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background: 0;
	list-style: none outside;
	width: auto;
	background: #fff;
}
.woocommerce-message:after,
.woocommerce-error:after,
.woocommerce-info:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
	content: "";
	height: 1.5em;
	width: 1.5em;
	display: block;
	position: absolute;
	top: 0;
	left: 1em;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	padding-top: 1em;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {    float: right }
.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
	list-style: none outside;
	padding-left: 0;
	margin-left: 0;
}
.woocommerce-message {    border-top: 3px solid #8fae1b }
.woocommerce-message:before {
	background-color: #8fae1b;
	content: "\2713";
}
.woocommerce-info {    border-top: 3px solid #1e85be }
.woocommerce-info:before {
	background-color: #1e85be;
	content: "i";
	font-family: Times, Georgia, serif;
	font-style: italic;
}
.woocommerce-error {    border-top: 3px solid #b81c23 }
.woocommerce-error:before {
	background-color: #b81c23;
	content: "\00d7";
	font-weight: 700;
}
p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	background: 0;
	border: 1px solid #96588a;
	color: #ffffff;
	z-index: 99998;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
}
.admin-bar p.demo_store {    top: 28px }
.woocommerce small.note,
.woocommerce-page small.note {
	display: block;
	color: #777777;
	font-size: 11px;
	line-height: 21px;
	margin-top: 10px;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
	margin: 0 0 1em;
	padding: 0;
	font-size: .92em;
	color: #777777;
}
.woocommerce .woocommerce-breadcrumb:after,
.woocommerce-page .woocommerce-breadcrumb:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {    color: #777777 }
.woocommerce .col2-set,
.woocommerce-page .col2-set {    width: 100% }
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
	float: left;
	width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	float: right;
	width: 48%;
}
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-page div.product,
.woocommerce-page #content div.product { }
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce-page div.product .product_title,
.woocommerce-page #content div.product .product_title {
	clear: none;
	margin-top: 0;
	padding: 0;
}

.woocommerce-page div.product .single_variation {
	margin-bottom: 18px;
}

.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins,
.woocommerce #content div.product span.price ins,
.woocommerce #content div.product p.price ins,
.woocommerce-page div.product span.price ins,
.woocommerce-page div.product p.price ins,
.woocommerce-page #content div.product span.price ins,
.woocommerce-page #content div.product p.price ins {    background: inherit }
.woocommerce div.product span.price del,
.woocommerce div.product p.price del,
.woocommerce #content div.product span.price del,
.woocommerce #content div.product p.price del,
.woocommerce-page div.product span.price del,
.woocommerce-page div.product p.price del,
.woocommerce-page #content div.product span.price del,
.woocommerce-page #content div.product p.price del {    color: rgba(145,145,145,0.5) }
.woocommerce div.product .stock,
.woocommerce #content div.product .stock,
.woocommerce-page div.product .stock,
.woocommerce-page #content div.product .stock {    color: #85ad74 }
.woocommerce div.product .out-of-stock,
.woocommerce #content div.product .out-of-stock,
.woocommerce-page div.product .out-of-stock,
.woocommerce-page #content div.product .out-of-stock {    color: red }

.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
	margin-bottom: 2em;
}
.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img {
	display: block;
	width: 100%;
	height: auto;
	/*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;*/
}
.woocommerce div.product div.images div.thumbnails,
.woocommerce #content div.product div.images div.thumbnails,
.woocommerce-page div.product div.images div.thumbnails,
.woocommerce-page #content div.product div.images div.thumbnails {    padding-top: 1em }
.woocommerce div.product div.images div.thumbnails:after,
.woocommerce #content div.product div.images div.thumbnails:after,
.woocommerce-page div.product div.images div.thumbnails:after,
.woocommerce-page #content div.product div.images div.thumbnails:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce div.product div.images div.thumbnails a,
.woocommerce #content div.product div.images div.thumbnails a,
.woocommerce-page div.product div.images div.thumbnails a,
.woocommerce-page #content div.product div.images div.thumbnails a {
	float: left;
	width: 30.75%;
	margin-right: 3.8%;
}
.woocommerce div.product div.images div.thumbnails a.last,
.woocommerce #content div.product div.images div.thumbnails a.last,
.woocommerce-page div.product div.images div.thumbnails a.last,
.woocommerce-page #content div.product div.images div.thumbnails a.last {    margin-right: 0 }
.woocommerce div.product div.images div.thumbnails a.first,
.woocommerce #content div.product div.images div.thumbnails a.first,
.woocommerce-page div.product div.images div.thumbnails a.first,
.woocommerce-page #content div.product div.images div.thumbnails a.first {    clear: both }
.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
	margin-bottom: 2em;
}
.woocommerce div.product div.social,
.woocommerce #content div.product div.social,
.woocommerce-page div.product div.social,
.woocommerce-page #content div.product div.social {
	text-align: right;
	margin: 0 0 1em;
}
.woocommerce div.product div.social span,
.woocommerce #content div.product div.social span,
.woocommerce-page div.product div.social span,
.woocommerce-page #content div.product div.social span {    margin: 0 0 0 2px }
.woocommerce div.product div.social span span,
.woocommerce #content div.product div.social span span,
.woocommerce-page div.product div.social span span,
.woocommerce-page #content div.product div.social span span {    margin: 0 }
.woocommerce div.product div.social span .stButton .chicklets,
.woocommerce #content div.product div.social span .stButton .chicklets,
.woocommerce-page div.product div.social span .stButton .chicklets,
.woocommerce-page #content div.product div.social span .stButton .chicklets {
	padding-left: 16px;
	width: 0;
}
.woocommerce div.product div.social iframe,
.woocommerce #content div.product div.social iframe,
.woocommerce-page div.product div.social iframe,
.woocommerce-page #content div.product div.social iframe {
	float: left;
	margin-top: 3px;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {    clear: both }
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	list-style: none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow: hidden;
	position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #dfdbdf;
	background: 0;
	display: inline-block;
	position: relative;
	z-index: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.6);
	margin: 0 -5px;
	padding: 0 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	font-weight: bold;
	color: #5e5e5e;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #777777;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	background: #ffffff;
	z-index: 2;
	border-bottom-color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {    box-shadow: 2px 2px 0 #ffffff }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after {    box-shadow: -2px 2px 0 #ffffff }
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	border: 1px solid #dfdbdf;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before {
	left: -6px;
	-webkit-border-bottom-right-radius: 4px;
	-mox-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #dfdbdf;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	right: -6px;
	-webkit-border-bottom-left-radius: 4px;
	-mox-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #dfdbdf;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #dfdbdf;
	z-index: 1;
}
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
	margin: 0 0 18px;
	padding: 0;
}
.woocommerce div.product p.cart,
.woocommerce #content div.product p.cart,
.woocommerce-page div.product p.cart,
.woocommerce-page #content div.product p.cart {    margin-bottom: 18px }
.woocommerce div.product p.cart:after,
.woocommerce #content div.product p.cart:after,
.woocommerce-page div.product p.cart:after,
.woocommerce-page #content div.product p.cart:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce div.product form.cart,
.woocommerce #content div.product form.cart,
.woocommerce-page div.product form.cart,
.woocommerce-page #content div.product form.cart {    margin-bottom: 18px }
.woocommerce div.product form.cart:after,
.woocommerce #content div.product form.cart:after,
.woocommerce-page div.product form.cart:after,
.woocommerce-page #content div.product form.cart:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity {
	float: left;
	margin: 0 4px 0 0;
}
.woocommerce div.product form.cart table,
.woocommerce #content div.product form.cart table,
.woocommerce-page div.product form.cart table,
.woocommerce-page #content div.product form.cart table {    border-width: 0 0 1px }
.woocommerce div.product form.cart table td,
.woocommerce #content div.product form.cart table td,
.woocommerce-page div.product form.cart table td,
.woocommerce-page #content div.product form.cart table td {    padding-left: 0 }
.woocommerce div.product form.cart table div.quantity,
.woocommerce #content div.product form.cart table div.quantity,
.woocommerce-page div.product form.cart table div.quantity,
.woocommerce-page #content div.product form.cart table div.quantity {
	float: none;
	margin: 0;
}
.woocommerce div.product form.cart table small.stock,
.woocommerce #content div.product form.cart table small.stock,
.woocommerce-page div.product form.cart table small.stock,
.woocommerce-page #content div.product form.cart table small.stock {
	display: block;
	float: none;
}
.woocommerce div.product form.cart .variations,
.woocommerce #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations { width: 100%; margin-bottom: 30px; }
.woocommerce div.product form.cart .variations label,
.woocommerce #content div.product form.cart .variations label,
.woocommerce-page div.product form.cart .variations label,
.woocommerce-page #content div.product form.cart .variations label {    font-weight: bold }
.woocommerce div.product form.cart .variations select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select {
	width: 100%;
	float: left;
}
.woocommerce div.product form.cart .variations td.label,
.woocommerce #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label {    padding-right: 1em; width: 120px; }
.woocommerce div.product form.cart .variations td,
.woocommerce #content div.product form.cart .variations td,
.woocommerce-page div.product form.cart .variations td,
.woocommerce-page #content div.product form.cart .variations td {    vertical-align: top; }
.woocommerce div.product form.cart .button,
.woocommerce #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button {
	vertical-align: middle;
	float: left;
}
.woocommerce div.product form.cart .group_table td.label,
.woocommerce #content div.product form.cart .group_table td.label,
.woocommerce-page div.product form.cart .group_table td.label,
.woocommerce-page #content div.product form.cart .group_table td.label {
	padding-right: 1em;
	padding-left: 1em;
}
.woocommerce div.product form.cart .group_table td,
.woocommerce #content div.product form.cart .group_table td,
.woocommerce-page div.product form.cart .group_table td,
.woocommerce-page #content div.product form.cart .group_table td {    vertical-align: top }

dl.variation p {
	margin-bottom: 3px;
}

.woocommerce .product {
	position: relative;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {    color: #85ad74 }
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	font-size: .67em;
	color: rgba(145,145,145,0.5);
	margin: -2px 0 0;
}
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {    background: none }
.woocommerce ul.products li.product .price .from,
.woocommerce-page ul.products li.product .price .from {
	font-size: .67em;
	margin: -2px 0 0;
	text-transform: uppercase;
	color: rgba(145,145,145,0.5);
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	float: left;
	margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	margin: 0 0 1em;
	float: right;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {    vertical-align: top }
.woocommerce nav.woocommerce-pagination,
.woocommerce #content nav.woocommerce-pagination,
.woocommerce-page nav.woocommerce-pagination,
.woocommerce-page #content nav.woocommerce-pagination {    text-align: center }
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
#respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button { }
.woocommerce ul.products {    margin: 0 }
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading,
#respond input#submit.loading,
.woocommerce #content input.button.loading,
.woocommerce-page a.button.loading,
.woocommerce-page button.button.loading,
.woocommerce-page input.button.loading,
.woocommerce-page #respond input#submit.loading,
.woocommerce-page #content input.button.loading {
	color: #777777;
	border: 1px solid #f7f6f7;
}
.woocommerce a.btn.loading:before,
.woocommerce button.btn.loading:before,
.woocommerce input.btn.loading:before,
#respond input#submit.loading:before,
.woocommerce #content input.btn.loading:before,
.woocommerce-page a.btn.loading:before,
.woocommerce-page button.btn.loading:before,
.woocommerce-page input.btn.loading:before,
.woocommerce-page #respond input#submit.loading:before,
.woocommerce-page #content input.btn.loading:before, {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: url(woocommerce_assets/images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
}

.woocommerce .blockUI.blockOverlay {
    position: relative
}
.woocommerce .blockUI.blockOverlay:before {
    height: 1em;
    width: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    background: url(woocommerce_assets/images/icons/loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, .75)
}

.woocommerce .ui--content-box-footer a.btn.loading:before,
.woocommerce .ui--content-box-footer button.btn.loading:before,
.woocommerce .ui--content-box-footer input.btn.loading:before {
	bottom: auto;
	height: 28px;
	top: -1px;
	right: 5px;
}

.products {

}

.woocommerce .quantity,
.woocommerce #content .quantity,
.woocommerce-page .quantity,
.woocommerce-page #content .quantity {
	width: 60px;
	padding: 1px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
}
.woocommerce .quantity input::-webkit-outer-spin-button,
.woocommerce .quantity input::-webkit-inner-spin-button,
.woocommerce #content .quantity input::-webkit-outer-spin-button,
.woocommerce #content .quantity input::-webkit-inner-spin-button,
.woocommerce-page .quantity input::-webkit-outer-spin-button,
.woocommerce-page .quantity input::-webkit-inner-spin-button,
.woocommerce-page #content .quantity input::-webkit-outer-spin-button,
.woocommerce-page #content .quantity input::-webkit-inner-spin-button {    display: none }
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty {
	width: 40px;
	height: 28px;
	line-height: 28px;
	float: left;
	padding: 0;
	text-align: center;
	border: 1px solid #c7c0c7;
	border-right: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: inset 0 0 2px 0 #f7f6f7;
	-webkit-box-shadow: inset 0 0 2px 0 #f7f6f7;
	-moz-box-shadow: inset 0 0 2px 0 #f7f6f7;
	font-weight: bold;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* hides the spin-button for firefox */
.quantity input[type=number] {
	-moz-appearance: textfield;
}
/* hides the spin-button for chrome*/
.quantity input[type=number]::-webkit-outer-spin-button,
.quantity input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.woocommerce .quantity noindex:-o-prefocus,
.woocommerce .quantity input[type=number],
.woocommerce #content .quantity noindex:-o-prefocus,
.woocommerce #content .quantity input[type=number],
.woocommerce-page .quantity noindex:-o-prefocus,
.woocommerce-page .quantity input[type=number],
.woocommerce-page #content .quantity noindex:-o-prefocus,
.woocommerce-page #content .quantity input[type=number] {    padding-right: 1.2em }
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	vertical-align: text-top;
	width: 20px;
	height: 15px;
	overflow: visible;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c7c0c7;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	line-height: 13px;
	z-index: 5;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover { }
.woocommerce .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce-page #content .quantity .plus {
	top: 1px;
	right: 1px;
	border-bottom: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}
.woocommerce .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .minus {
	bottom: 1px;
	right: 1px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.woocommerce .quantity input {
	margin-bottom: 0;
	z-index: 4;
}

.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes {
	border: 0;
	border-top: 1px dotted rgba(0,0,0,0.1);
	margin-bottom: 1.618em;
	width: 100%;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th {
	width: 150px;
	font-weight: bold;
	padding: 8px;
	border-top: 0;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
	margin: 0;
	line-height: 1.5em;
}
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td {
	font-style: italic;
	padding: 0;
	border-top: 0;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
	margin: 0;
	line-height: 1.5em;
}
.woocommerce table.shop_attributes td p,
.woocommerce-page table.shop_attributes td p {
	margin: 0;
	padding: 8px 0;
}
.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th,
.woocommerce-page table.shop_attributes .alt td,
.woocommerce-page table.shop_attributes .alt th {  }
.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
}
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
	font-weight: bold;
	line-height: 18px;
	padding: 12px 12px;
}
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 10px 12px;
	vertical-align: middle;
}
.woocommerce table.shop_table td small,
.woocommerce-page table.shop_table td small {    font-weight: normal }
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th {
	font-weight: bold;
	border-top: 1px solid #e1e1e1;
}
.woocommerce table.my_account_orders,
.woocommerce-page table.my_account_orders {}
.woocommerce table.my_account_orders th,
.woocommerce table.my_account_orders td,
.woocommerce-page table.my_account_orders th,
.woocommerce-page table.my_account_orders td {
	padding: 12px 18px;
	vertical-align: middle;
}

.woocommerce table.my_account_orders .button,
.woocommerce-page table.my_account_orders .button {    white-space: nowrap }
.woocommerce table.my_account_orders .order-actions,
.woocommerce-page table.my_account_orders .order-actions {    text-align: right }
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce-page table.my_account_orders .order-actions .button {    margin: .125em 0 .125em .25em }
.woocommerce td.product-name dl.variation,
.woocommerce-page td.product-name dl.variation {
	margin: .25em 0 .5em;
	font-size: .8751em;
}
.woocommerce td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dt {
	font-weight: bold;
	float: left;
	clear: left;
	margin: 0 .25em 0 0;
	padding: 0;
}
.woocommerce td.product-name dl.variation dd,
.woocommerce-page td.product-name dl.variation dd {    margin: 0 0 .25em }
.woocommerce td.product-name p.backorder_notification,
.woocommerce-page td.product-name p.backorder_notification {    font-size: .83em }
.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity {  text-align: center;  min-width: 80px }
.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail {    min-width: 32px }
.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img {
	width: 48px;
	height: auto;
}
.woocommerce table.cart th,
.woocommerce table.cart td,
.woocommerce #content table.cart th,
.woocommerce #content table.cart td,
.woocommerce-page table.cart th,
.woocommerce-page table.cart td,
.woocommerce-page #content table.cart th,
.woocommerce-page #content table.cart td {    vertical-align: middle }
.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove {
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: none !important;
}

.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover {
  text-decoration: none !important;
}

.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {    text-align: right }
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {    float: left }
.woocommerce table.cart td.actions .coupon label,
.woocommerce #content table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label {    display: none }
.woocommerce table.cart td.actions button {    margin-bottom: 0 }
.woocommerce table.cart td.actions button {    margin-bottom: 0 }
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 120px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
	border: 1px solid #dfdbdf;
	padding: 6px 6px 5px;
	margin: 0 4px 0 0;
	outline: 0;
	line-height: 1em;
}
.woocommerce table.cart td.actions .button.alt,
.woocommerce #content table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions .button.alt,
.woocommerce-page #content table.cart td.actions .button.alt {
	float: right;
	margin-left: .25em;
}
.woocommerce table.cart input,
.woocommerce #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce-page #content table.cart input {
	margin: 0;
	vertical-align: middle;
	line-height: 1em;
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget,
.woocommerce-page ul.cart_list,
.woocommerce-page ul.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li {

	margin: 0 0 6px;
	padding: 6px 0 12px;
	border-bottom: 1px solid #ebebeb;

	list-style: none;

}
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce-page ul.product_list_widget li:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.cart_list li a,
.woocommerce-page ul.product_list_widget li a {
	display: block;
	margin-bottom: 6px;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
	float: right;
	margin-left: 4px;
	width: 48px;
	height: auto;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

#sidebars .woocommerce ul.cart_list li img,
#sidebars .woocommerce ul.product_list_widget li img,
#sidebars .woocommerce-page ul.cart_list li img,
#sidebars .woocommerce-page ul.product_list_widget li img,
#footer-widgets .woocommerce ul.cart_list li img,
#footer-widgets .woocommerce ul.product_list_widget li img,
#footer-widgets .woocommerce-page ul.cart_list li img,
#footer-widgets .woocommerce-page ul.product_list_widget li img {
	width: 32px;
}

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl,
.woocommerce-page ul.cart_list li dl,
.woocommerce-page ul.product_list_widget li dl {
	margin: 0;
	font-size: .8751em;
	padding-left: 1em;
	border-left: 2px solid rgba(0,0,0,0.1);
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce-page ul.cart_list li dl dt,
.woocommerce-page ul.product_list_widget li dl dt {
	float: left;
	clear: left;
	margin-right: .25em;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce-page ul.cart_list li dl dd,
.woocommerce-page ul.product_list_widget li dl dd {    margin-bottom: .5em }
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating,
.woocommerce-page ul.cart_list li .star-rating,
.woocommerce-page ul.product_list_widget li .star-rating {    float: none }
.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total {
	padding: 4px 0 0;
}
.woocommerce .widget_shopping_cart .total strong,
.woocommerce-page .widget_shopping_cart .total strong {
	min-width: 40px;
	display: inline-block;
}
.woocommerce .widget_shopping_cart .buttons:after,
.woocommerce-page .widget_shopping_cart .buttons:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals { width: 100% }

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	width: 100%;
	max-width: 580px;
	margin: 0 0 0 auto;
}

.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
	content: "";
	display: block;
	clear: both;
}

.widget_product_categories ul li .count,
.widget_layered_nav ul li .count {
	float: right;
}

.woocommerce #shipping_method label {
	display: inline;
	padding-left: 0;
}

.woocommerce #shipping_method input {
	margin: 0 5px 0 0;
}

.woocommerce .upsells.products,
.woocommerce .related.products {
	margin-bottom: 18px;
}

.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {

}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {

}
.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products {    float: none }
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {  }
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {

}

.woocommerce-page .cart-collaterals .shipping_calculator {
  margin-bottom: 0;
}

.woocommerce-page .cart-collaterals .ui-row {
  margin-bottom: 18px;
}

.woocommerce .cart-collaterals .shipping_calculator:after,
.woocommerce-page .cart-collaterals .shipping_calculator:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {    width: 47% }
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {

}
.cart-collaterals .cart_totals th {
	width: 160px;
}
.cart_totals {
	text-align: left;
}

.woocommerce .cart-collaterals .cart_totals p,
.woocommerce-page .cart-collaterals .cart_totals p {    margin: 0 }
.woocommerce .cart-collaterals .cart_totals p small,
.woocommerce-page .cart-collaterals .cart_totals p small {
	color: #777777;
	font-size: .83em;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
	border-collapse: separate;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 6px;
	padding: 0;
	width: 100%;
}
.woocommerce .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-page .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 0 }
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table th {    padding: 6px 3px }
.woocommerce .cart-collaterals .cart_totals table small,
.woocommerce-page .cart-collaterals .cart_totals table small {
	display: block;
}
.woocommerce .cart-collaterals .cart_totals table select,
.woocommerce-page .cart-collaterals .cart_totals table select {    width: 100% }
.woocommerce .cart-collaterals .cart_totals .discount td,
.woocommerce-page .cart-collaterals .cart_totals .discount td {    color: #85ad74 }
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
	border-top: 1px solid #ddd;
	padding: 12px;
}
.woocommerce .cart-collaterals .cart_totals a.button.alt,
.woocommerce-page .cart-collaterals .cart_totals a.button.alt {
	width: 193px;
	display: block;
	font-size: .92em;
}
.woocommerce form .form-row,
.woocommerce-page form .form-row {
	padding: 3px;
	margin: 0 0 6px;
}
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder,
.woocommerce-page form .form-row [placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity .5s .5s ease;
	-moz-transition: opacity .5s .5s ease;
	transition: opacity .5s .5s ease;
	opacity: 0;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {    display: block }
.woocommerce form .form-row label.hidden,
.woocommerce-page form .form-row label.hidden {    visibility: hidden }
.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
	width: 100%;
	cursor: pointer;
	margin: 0;
}
.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required {
	color: red;
	font-weight: bold;
	border: 0;
}
.woocommerce form .form-row .input-checkbox,
.woocommerce-page form .form-row .input-checkbox {
	display: inline;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
}
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {    display: inline }

.modern-browser .woocommerce form .form-row input.input-text,
.modern-browser .woocommerce form .form-row textarea,
.modern-browser .woocommerce-page form .form-row input.input-text,
.modern-browser .woocommerce-page form .form-row textarea {
	min-height: 30px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	outline: 0;
	line-height: 1em;
}
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row textarea {
	height: 3.5em;
	line-height: 1.5em;
	display: block;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
	background-image: url(woocommerce_assets/images/icons/valid.png);
	background-position: 99% center;
	background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
	background-image: url(woocommerce_assets/images/icons/invalid.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce form .form-row.validate-required.woocommerce-invalid select,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid select {    border-color: #fb7f88 }
.woocommerce form .form-row ::-webkit-input-placeholder,
.woocommerce-page form .form-row ::-webkit-input-placeholder {
	line-height: 1em;
	padding-top: 2px;
}
.woocommerce form .form-row :-moz-placeholder,
.woocommerce-page form .form-row :-moz-placeholder {
	line-height: 1em;
	padding-top: 2px;
}
.woocommerce form .form-row :-ms-input-placeholder,
.woocommerce-page form .form-row :-ms-input-placeholder {
	line-height: 1em;
	padding-top: 2px;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	float: left;
	width: 47%;
	overflow: visible;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {    float: right }
.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {    clear: both }
.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register,
.woocommerce-page form.login,
.woocommerce-page form.checkout_coupon,
.woocommerce-page form.register {
	text-align: left;
}

.woocommerce form.login .form-elements,
.woocommerce form.checkout_coupon .form-elements,
.woocommerce form.register .form-elements {
	margin: 18px 20px 0;
}

.woocommerce form.login .control-group,
.woocommerce form.checkout_coupon .control-group,
.woocommerce form.register .control-group {
	margin: 0 0 18px;
}

.woocommerce form.login .control-group:first-child,
.woocommerce form.checkout_coupon .control-group:first-child,
.woocommerce form.register .control-group:first-child {
	border-top: 0;
}

.woocommerce form.login .form-actions,
.woocommerce form.checkout_coupon .form-actions,
.woocommerce form.register .form-actions,
.woocommerce form .form-actions {
	border-top: 1px solid #e1e1e1;
	padding: 12px 20px;
	line-height: 32px;
}

.woocommerce form .form-header {
	border-bottom: 1px solid #e1e1e1;
	padding: 12px 20px;
}

.woocommerce form .form-header-title {
	margin-top: 0;
	margin-bottom: 0;
}


.woocommerce form.login .form-actions .btn,
.woocommerce form.checkout_coupon .form-actions .btn,
.woocommerce form.register .form-actions .btn {
	margin-bottom: 0;
	margin-right: 0;
}

.woocommerce form.login .control-group input[type="text"],
.woocommerce form.login .control-group input[type="password"],
.woocommerce form.login .control-group input[type="email"],
.woocommerce form.checkout_coupon .control-group input[type="text"],
.woocommerce form.checkout_coupon .control-group input[type="password"],
.woocommerce form.checkout_coupon .control-group input[type="email"],
.woocommerce form.register .control-group input[type="text"],
.woocommerce form.register .control-group input[type="password"],
.woocommerce form.register .control-group input[type="email"]
{
	width: 100%;
	max-width: 600px;
	height: 32px;

	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.woocommerce ul#shipping_method,
.woocommerce-page ul#shipping_method {
	list-style: none outside;
	margin: 0;
	padding: 0;
}
.woocommerce ul#shipping_method li,
.woocommerce-page ul#shipping_method li {
	margin: 0;
	padding: .25em 0 .25em 22px;
	text-indent: -22px;
	list-style: none outside;
}
.woocommerce ul#shipping_method .amount,
.woocommerce-page ul#shipping_method .amount {    font-weight: bold }
.woocommerce .checkout .col-2 h3,
.woocommerce-page .checkout .col-2 h3 {
	float: left;
	clear: none;
}
.woocommerce .checkout .col-2 .notes,
.woocommerce-page .checkout .col-2 .notes {    clear: left }
.woocommerce .checkout .col-2 .form-row-first,
.woocommerce-page .checkout .col-2 .form-row-first {    clear: left }
.woocommerce .checkout div.shipping-address,
.woocommerce-page .checkout div.shipping-address {
	padding: 0;
	clear: left;
	width: 100%;
}

.shipping-calculator-button {
	margin-top: 12px;
	margin-bottom: 12px;
}

.woocommerce .checkout .shiptobilling,
.woocommerce-page .checkout .shiptobilling {
	float: right;
	line-height: 1.62em;
	margin: 0;
	padding: 0;
}
.woocommerce .checkout .shiptobilling-title { position: relative; z-index: 1; }
.woocommerce .checkout .shiptobilling { position: relative; z-index: 2; }
.woocommerce .checkout .shiptobilling label,
.woocommerce-page .checkout .shiptobilling label { font-size: .85em; padding-left: 10px; }
.woocommerce-page .checkout .shiptobilling .input-checkbox { margin-right: 0; margin-left: 10px; }
.woocommerce .checkout .shipping_address,
.woocommerce-page .checkout .shipping_address {    clear: both }
.woocommerce #payment,
.woocommerce-page #payment {


}

#order_review_heading {
  margin-top: 30px;
}

.woocommerce #payment ul.payment_methods label {
  display: inline;
}

.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods {
	text-align: left;
	margin: 0;
	list-style: none outside;
}
.woocommerce #payment ul.payment_methods:after,
.woocommerce-page #payment ul.payment_methods:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce #payment ul.payment_methods li,
.woocommerce-page #payment ul.payment_methods li {
	text-align: left;
	margin: 0;
	font-weight: normal;
	padding: 12px 20px;
}
.woocommerce #payment ul.payment_methods li input,
.woocommerce-page #payment ul.payment_methods li input {    margin: 0 1em 0 0 }
.woocommerce #payment ul.payment_methods li img,
.woocommerce-page #payment ul.payment_methods li img {
	vertical-align: middle;
	margin: -2px 0 0 .5em;
	position: relative;
	max-height: 24px; 
}
.woocommerce #payment div.form-row,
.woocommerce-page #payment div.form-row {
	margin: 30px 0 18px;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	float: none;
	margin: 0;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms {
	margin: 6px 0 0;
	text-align: center;
}
.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box {
	position: relative;
	padding: 12px 0;
}
.woocommerce #payment div.payment_box p:last-child,
.woocommerce-page #payment div.payment_box p:last-child {    margin-bottom: 0 }
.woocommerce #payment div.payment_box #cc-expire-month,
.woocommerce #payment div.payment_box #cc-expire-year,
.woocommerce-page #payment div.payment_box #cc-expire-month,
.woocommerce-page #payment div.payment_box #cc-expire-year {
	width: 48%;
	float: left;
}
.woocommerce #payment div.payment_box #cc-expire-year,
.woocommerce-page #payment div.payment_box #cc-expire-year {    float: right }
.woocommerce #payment div.payment_box span.help,
.woocommerce-page #payment div.payment_box span.help {
	font-size: 11px;
	color: #777777;
	line-height: 13px;
	font-weight: normal;
}
.woocommerce #payment div.payment_box .form-row,
.woocommerce-page #payment div.payment_box .form-row {    margin: 0 0 1em }
.woocommerce #payment div.payment_box .form-row select,
.woocommerce-page #payment div.payment_box .form-row select {
	width: 48%;
	float: left;
	margin-right: 3.8%;
}
.woocommerce #payment div.payment_box .form-row select:nth-child(3n),
.woocommerce-page #payment div.payment_box .form-row select:nth-child(3n) {    margin-right: 0 }
.woocommerce #payment div.payment_box:after,
.woocommerce-page #payment div.payment_box:after {

}
.woocommerce .order_details,
.woocommerce-page .order_details {
	margin: 0 0 1.5em;
	list-style: none;
}
.woocommerce .order_details:after,
.woocommerce-page .order_details:after {
	content: "";
	display: block;
	clear: both;
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
	float: left;
	text-transform: uppercase;
	border-right: 1px dashed #dfdbdf;
	margin-right: 20px;
	padding-right: 20px;
}
.woocommerce .order_details li strong,
.woocommerce-page .order_details li strong {
	display: block;
	text-transform: none;
	margin-top: 6px;
}
.woocommerce .order_details li:last-of-type,
.woocommerce-page .order_details li:last-of-type {    border: none }
.woocommerce .addresses .title:after,
.woocommerce-page .addresses .title:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .addresses .title .edit,
.woocommerce-page .addresses .title .edit {    float: right }
.woocommerce ol.commentlist.notes li.note .meta,
.woocommerce-page ol.commentlist.notes li.note .meta {
	font-weight: bold;
}
.woocommerce ol.commentlist.notes li.note .description p:last-child,
.woocommerce-page ol.commentlist.notes li.note .description p:last-child {    margin-bottom: 0 }
.woocommerce ul.digital-downloads,
.woocommerce-page ul.digital-downloads {
	margin-left: 0;
	padding-left: 0;
}

.woocommerce .addresses .title .myaccount_address_edit_title,
.woocommerce-page .addresses .title .myaccount_address_edit_title { z-index: 1; position: relative; }
.woocommerce-page .addresses .title .edit { z-index: 2; position: relative; margin-left: 20px; margin-top: 2px; }

.digital-downloads {
  list-style: none none;
  margin-bottom: 18px;
}

.digital-downloads li {
  padding: 12px 20px;
  border-top: 1px solid #e1e1e1;
}

.digital-downloads li:first-child { border-top: 0; }

.digital-downloads li .count { float: right; }
.digital-downloads li i { margin-right: 12px; }

.woocommerce .customer_details dt {
  text-align: left !important;
}

.woocommerce .chosen-container {
  font-size: 100%;

}

.chosen-container-single .chosen-single {
  background-color: #f1f1f1;
  *background-color: #f1f1f1;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2ODkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMUYxRjEiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2ODkpIiAvPgo8L3N2Zz4=');
  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
  background-repeat: repeat-x;
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f1f1f1');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f1f1f1')";

  border: 1px solid #ebebeb;

  border-bottom: 1px solid rgba(0,0,0,.22);

  -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;


  -webkit-box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07);
	 -moz-box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07);
		  box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07);

  -webkit-background-clip: border-box;
	 -moz-background-clip: border-box;
		  background-clip: border-box;

  background-color: #fff;

  padding-left: 12px !important;
  height: 32px !important;
  line-height: 33px !important;

  text-decoration: none !important;
  color: #333 !important;
}

.chosen-container-single .chosen-single div {
  top: 4px;
  right: 4px;
}

.chosen-container-single .chosen-search input {
  height: 25px;
}

.chosen-container-active .chosen-single-with-drop {
  color: #333 !important;
}

.chosen-container .chosen-drop {
  border-color: #ccc !important;
}


.woocommerce .price_slider_amount:after,
.woocommerce-page .price_slider_amount:after {
	content: "";
	display: block;
	clear: both;
}

.woocommerce .price_slider_amount,
.woocommerce-page .price_slider_amount {
	
}

.woocommerce .price_slider_amount .price_label,
.woocommerce-page .price_slider_amount .price_label {
	position: relative;
	z-index: 1;
	line-height: 32px;
}

.woocommerce .price_slider_amount button,
.woocommerce-page .price_slider_amount button {
	float: right;
	position: relative;
	z-index: 2;
}

.woocommerce .ui-helper-hidden {
	display: none;
}
.woocommerce .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.woocommerce .ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.woocommerce .ui-helper-clearfix:before,
.woocommerce .ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.woocommerce .ui-helper-clearfix:after {
	clear: both;
}
.woocommerce .ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.woocommerce .ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.woocommerce .ui-front {
	z-index: 100;
}

/* Misc visuals
----------------------------------*/

.woocommerce .ui-slider {
	margin-bottom: 18px;
}

.woocommerce .ui-slider a {
  transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
}

/* Overlays */
.woocommerce .ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.woocommerce .ui-slider {
	position: relative;
	text-align: left;
	border: 0;

	background: #f5f5f5;
	border: 1px solid #c5c5c5; 
	/*border-bottom: 1px solid rgba(0,0,0,.22);*/

	box-shadow: inset 0 0 2px rgba(0,0,0,.1), inset 0 -1px 10px rgba(0,0,0,.15);

	   -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
			border-radius: 12px;    
}
.woocommerce .ui-slider .ui-slider-handle {
	top: 3px;
	position: absolute;
	z-index: 2;
	width: 16px;
	height: 16px;
	cursor: pointer;

	outline: 0;

	background-color: #dddddd;
	*background-color: #dddddd;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2ODkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMUYxRjEiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2ODkpIiAvPgo8L3N2Zz4=');
	background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dddddd));
	background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background-image: -o-linear-gradient(top, #ffffff, #dddddd);
	background-image: linear-gradient(to bottom, #ffffff, #dddddd);
	background-repeat: repeat-x;
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dddddd');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dddddd')";

	  -webkit-box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07), 0 3px 3px rgba(0, 0, 0, .1);
	 -moz-box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07), 0 3px 3px rgba(0, 0, 0, .1);
		  box-shadow: 0 3px 0px rgba(0,0,0, 0.03), 0 1px 0 rgba(0, 0, 0, .07), 0 3px 3px rgba(0, 0, 0, .1);

	border: 1px solid #ddd; 
	border-bottom: 1px solid rgba(0,0,0,.22);


	   -moz-border-radius: 100%
	-webkit-border-radius: 100%;
			border-radius: 100%;

}
.woocommerce .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;

	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
			border-radius: 3px;
}

/* For IE8 - See #6727 */
.woocommerce .ui-slider.ui-state-disabled .ui-slider-handle,
.woocommerce .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.woocommerce .ui-slider-horizontal {
	margin-left: 6px;
	margin-right: 6px;
	height: 12px;
}
.woocommerce .ui-slider-horizontal .ui-slider-handle {
	top: -4px;
	margin-left: -6px;
}
.woocommerce .ui-slider-horizontal .ui-slider-range {
	top: 1px;
	bottom: 1px;
}
.woocommerce .ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.woocommerce .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.woocommerce .ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.woocommerce .ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.woocommerce .ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.woocommerce .ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.woocommerce .ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.woocommerce .btn del {
	opacity: .7;
	margin-right: 5px;
}

.woocommerce-page-price del {
	font-size: 80%;
	font-weight: normal;

	opacity: .5;
}

.woocommerce-page-price ins {
	border-bottom: 0;
	text-decoration: none;
}

.woocommerce .products .ui--content-box-footer {
	height: auto;
	min-height: 42px;
	line-height: 24px;
	padding-top: 8px;
}

.woocommerce .products .ui--content-box-footer .btn {
	margin-top: 0;
	margin-bottom: 8px;
}

.woocommerce .products .ui--content-box-footer .woocommerce-actions {
	margin-top: 4px;
}

.woocommerce-loading-wrap {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
}

.available-on-backorder {
	color: #ef3f32 !important;
}

.woocommerce span.onsale,
.woocommerce .wc-new-badge,
.woocommerce .out-of-stock-badge,
.woocommerce .free-badge {
	background:#ef3f32;
	color:#fff;
	
	overflow:hidden;
	position:absolute;

	white-space:nowrap;
	text-align:center;

	width: 120px;
	min-width:auto!important;

	height: 26px!important;

	min-height: 26px!important;
	max-height: 26px!important;
	border-radius:0;
	
	right:-31px!important;
	top:16px!important;

	left: auto;
	z-index: 1;

	text-transform: uppercase;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;

	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);

	margin: 0 !important;
	padding: 4px;

	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-shadow:none;
	pointer-events: none;

}

.woocommerce .ui--wc-badge {
	pointer-events: none;
	overflow:hidden;
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.old-browser .woocommerce .ui--wc-badge {
	display: none;
}

.woocommerce .ui--content-box span.onsale,
.woocommerce .ui--content-box .wc-new-badge,
.woocommerce .ui--content-box .out-of-stock-badge,
.woocommerce .ui--content-box .free-badge {
	z-index: 3;
}

.woocommerce .out-of-stock-badge {
	background:#666;
	font-size:12px;
}

.woocommerce .free-badge {
	/*background: #00a888;*/
	background: #4fd28a;
}

.woocommerce .single-product-image {
	position: relative;
	overflow: hidden;
}

.ui--shop-gallery-multi {
	visibility: hidden;
}

.ui--shop-gallery-image {
	max-width: 100% !important;
	display: block;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
			border-radius: 3px;
}

.ui--shop-gallery > .ui--shop-gallery-viewport,
.ui--shop-gallery > .slides {
	z-index: 1;
}

.ui--shop-gallery .slides {
	transition        : all cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition   : all cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-transition: all cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition     : all cubic-bezier(0.190,1.000,0.220,1.000);  
}

.ui--shop-gallery > .ui--shop-item-link {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.ui--shop-gallery > .ui--shop-gallery-navigation {
	z-index: 3;
}

.ui--shop-gallery {
	position: relative;
}

	.ui--shop-gallery > .slides {
		overflow: hidden;
	}

		.ui--shop-gallery-item {
			display: none;
		}

		.ui--shop-gallery-item-1 {
			display: inline !important;
		}

		.ui--shop-gallery .slides img {max-width: 100%; display: block;}


	.ui--shop-gallery-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -16px;

		opacity: 0;
		filter : alpha(opacity=0);
	}

	.ui--shop-item:hover .ui--shop-gallery-navigation{ opacity: 1; filter: alpha(opacity=100); }

		.ui--shop-gallery-navigation .ui--carosuel-prev,
		.ui--shop-gallery-navigation .ui--carosuel-next {
			position: absolute;
		}

		.ui--shop-gallery-navigation .ui--carosuel-prev { left: -30px; pointer-events: none; }
		.ui--shop-gallery-navigation .ui--carosuel-next { right: -30px; pointer-events: none; }

		.ui--shop-item:hover .ui--shop-gallery-navigation .ui--carosuel-prev { left: -10px; pointer-events: auto; }
		.ui--shop-item:hover .ui--shop-gallery-navigation .ui--carosuel-next { right: -10px; pointer-events: auto; }

		.ui--carousel .ui--shop-gallery-navigation .ui--carosuel-prev { left: 20px; }
		.ui--carousel .ui--shop-gallery-navigation .ui--carosuel-next { right: 20px; }

		.ui--carousel .ui--shop-item:hover .ui--shop-gallery-navigation .ui--carosuel-prev { left: 10px; }
		.ui--carousel .ui--shop-item:hover .ui--shop-gallery-navigation .ui--carosuel-next { right: 10px; }



	.ui--shop-gallery-navigation,
	.ui--shop-gallery-navigation .ui--carosuel-prev,
	.ui--shop-gallery-navigation .ui--carosuel-next {
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}

.ui--shop-gallery { margin: 0; padding: 0; }
.ui--shop-gallery .slides > div { display: none; -webkit-backface-visibility: hidden; }
.ui--shop-gallery { position: relative; zoom: 1; }
.ui--shop-gallery .slides { zoom: 1; }

.ui--shop-gallery .flex-direction-nav {
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 45px;
}

@media (min-width: 768px) and (max-width: 979px) {
	#ui--shop-slider .flex-direction-nav {
		width: 86px !important;
	}

	#ui--shop-slider-carousel .flex-direction-nav {
		width: 54px !important;
	}
}

@media (max-width: 767px) {
	#ui--shop-slider .flex-direction-nav {
		width: 86px !important;
	}

	#ui--shop-slider-carousel .flex-direction-nav {
		width: 54px !important;
	}
}

.ui--shop-gallery .flex-direction-nav .flex-prev,
.ui--shop-gallery .flex-direction-nav .flex-next {
	position: absolute;
	margin-top: -21px;
	outline: 0 !important;

	transition        : all .7s cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition   : all .7s cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-transition: all .7s cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition     : all .7s cubic-bezier(0.190,1.000,0.220,1.000);
}

.ui--shop-gallery .flex-direction-nav .flex-prev { left: 0; }
.ui--shop-gallery .flex-direction-nav .flex-next { right: 0; }

@media (min-width: 979px) {

	.ui--shop-gallery .flex-direction-nav .flex-prev,
	.ui--shop-gallery .flex-direction-nav .flex-next {
		pointer-events: none;
		opacity: 0;
		filter : alpha(opacity=0);
	}

	.ui--shop-gallery:hover .flex-direction-nav .flex-prev,
	.ui--shop-gallery:hover .flex-direction-nav .flex-next {   
		opacity: 1;
		filter : alpha(opacity=100);
		pointer-events: auto;
	}



	html.no-csstransforms .ui--shop-gallery .flex-prev { left: -50px; }
	html.no-csstransforms .ui--shop-gallery .flex-next { right: -50px; }

	html.csstransforms    .ui--shop-gallery .flex-prev { -webkit-transform: translateX(-50px); -ms-transform: translateX(-50px); transform: translateX(-50px); }
	html.csstransforms    .ui--shop-gallery .flex-next { -webkit-transform: translateX(50px); -ms-transform: translateX(50px); transform: translateX(50px); }

	html.no-csstransforms .ui--shop-gallery:hover .flex-prev { left: -20px; }
	html.no-csstransforms .ui--shop-gallery:hover .flex-next { right: -20px; }

	html.csstransforms    .ui--shop-gallery:hover .flex-prev { -webkit-transform: translateX(-20px); -ms-transform: translateX(-20px); transform: translateX(-20px); }
	html.csstransforms    .ui--shop-gallery:hover .flex-next { -webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px); }

}

#ui--shop-slider {
	margin-bottom: 18px;
}


#ui--shop-slider-carousel {
	display: none;
}

#ui--shop-slider-carousel li {
	margin-right: 18px;
	opacity: .5;
	transition        : opacity .2s ease-in-out;
	-moz-transition   : opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-o-transition     : opacity .2s ease-in-out;
}

#ui--shop-slider-carousel li.flex-active-slide,
#ui--shop-slider-carousel li:hover {
	opacity: 1;
}

.ui--wc-vertical-gallery .images {
	position: relative;
	min-height: 450px;
}

.ui--wc-vertical-gallery #ui--shop-slider {
	margin-right: 151px;
}

.ui--wc-vertical-gallery #ui--shop-slider-carousel {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 450px;
}

.ui--wc-vertical-gallery #ui--shop-slider-carousel .flex-viewport {
	height: 450px !important;
}

.ui--wc-vertical-gallery #ui--shop-slider-carousel .flex-viewport li {
    float: none !important;
    display: block !important;
    margin-bottom: 1px !important;
}

.ui--wc-vertical-gallery #ui--shop-slider-carousel .flex-direction-nav {
	bottom: auto;
    top: 28px;
    width: 14px;
    right: 26px;
}

#ui--shop-slider-carousel .flex-direction-nav li {
	opacity: 1;
}

.ui--wc-horizontal-gallery #ui--shop-slider-carousel .flex-direction-nav {
	bottom: 20px;
    width: 14px;
    right: 40px;
}

.woocommerce .ui--wc-vertical-gallery span.onsale,
.woocommerce .ui--wc-vertical-gallery .wc-new-badge,
.woocommerce .ui--wc-vertical-gallery .out-of-stock-badge,
.woocommerce .ui--wc-vertical-gallery .free-badge {
	right: auto;
	left: -31px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

#woocommerce-nav-cart {
	position: relative;
	display: none !important;
}

#woocommerce-nav-cart i {
	margin-left: -1px;
	margin-top: -2px;
	margin-right: 5px;
	float: left;
}

#woocommerce-nav-cart .btn {
	width: 50px;
	height: 50px;
	padding: 0;
	line-height: 50px;

	   -moz-border-radius: 1500px;
	-webkit-border-radius: 1500px;
			border-radius: 1500px;
}

/** Top Bar Widget */
#widget--login-woocommerce .avatar {
	margin-right: 6px;
	margin-top: -3px;
}

.rtl #ui--shop-slider,
.rtl #ui--shop-slider-carousel {
	direction: ltr;
}

.rtl.woocommerce div.product form.cart div.quantity,
.rtl.woocommerce #content div.product form.cart div.quantity,
.rtl.woocommerce-page div.product form.cart div.quantity,
.rtl.woocommerce-page #content div.product form.cart div.quantity {
	float: right !important;
	margin-right: 0;
	margin-left: 4px;
}

.ajax-layered .colors li:before,
.ajax-layered .sizes li:before {
	display: none !important;
}

section#products {
	height: auto !important;
}

.side-panel-open .zoomContainer { display: none !important; }
.zoomContainer { z-index: 1999; }
body.admin-bar .zoomContainer  {
	margin-top: -32px;
}

.single_variation_wrap {
	border-top: 1px solid #ebebeb;
	padding-top: 12px;
}

.single_variation_wrap .single_variation { font-weight: bold; }
.single_variation_wrap .single_variation .stock { font-weight: normal; }

@media (min-width: 979px) {

	.stuck #woocommerce-nav-cart {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.woocommerce-result-count,
	.woocommerce-ordering,
	.woocommerce-ordering > span,
	.woocommerce-ordering select {
		display: block !important;
		float: none !important;

	}
	
	.woocommerce-result-count { text-align: center; }

	.woocommerce-ordering > span,
	.woocommerce-ordering select {
		width: auto !important;
	}

	.woocommerce-ordering select {
		max-width: none !important;
		width: 100% !important;
	}

	.woocommerce-page #product-reviews .ui--star-rating-wrap {
		display: block;
		text-align: center;
	}
	
	.shipping_calculator button {
		white-space: nowrap;
	}

}

@media all and (max-width: 480px) {

	.woocommerce table.shop_table .cart_table_item *,
	.woocommerce-page table.shop_table .cart_table_item * {
	}

	.woocommerce table.cart .product-thumbnail,
	.woocommerce table.cart .product-subtotal {
		display: none;
	}

	.woocommerce table.cart td.actions .coupon {
		display: block;
		float: none;
		margin-bottom: 18px;
	}

	.woocommerce table.cart td.actions .update-cart-button,
	.woocommerce table.cart td.actions .checkout-button {
		display: block;
		margin-bottom: 6px;
		width: 100%;
	}
}

.ui--shop-slider-zoom-enabled #flex-direction-nav,
.ui--shop-slider-count-0 #flex-direction-nav,
.ui--shop-slider-count-1 #flex-direction-nav {
	display: none !important;
}

.wc-proceed-to-checkout {
	margin-top: 12px;
}

.about_paypal{
	float: right;
	line-height: 52px;
	font-size: .83em;
	position: relative;
	z-index: 2;
}

.select2-container .select2-choice {
	display: block;
	padding: 6px 0 6px 8px;
}